*{
		box-sizing:border-box;
	}


body{
	overflow-x:hidden;
	
}

.navbar{
	display:flex;
	justify-content:space-between;
	background-color:#232f3e;
	align-items:center;
	padding: 15px 30px;
	position:fixed;
	width:100%;
	top:0;
	z-index:1000;
}
h1{
	color:#ffbbbbdb;
	margin:0;
}
.list{
	list-style:none;
	padding:0;
	margin:0;
}

.list li a {
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.searching{
	
	display:flex;
	max-width:500px;
	
	justify-content:center;
	
}
.searching input {
    width: 500px;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
}

.searching input::placeholder {
    line-height: normal;
    vertical-align: middle;
}

.searching button {
    background-color: #ff9900;
    border: none;
    border-radius: 15px; 
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
}
.Account{
	display:flex;
	gap:20px;
}
.Account button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
	transition: .5s ease;
	
}
.Account button:hover{
	transform:scale(1.1);
	
}


.btn-signup {
    background-color: #ff9900;
    color: #232f3e;
	
}
.btn-signup a{
	text-decoration:none;
	color:black;
	
}


 .btn-login a {
	text-decoration:none;
	color:white;

 }	 
   
 .btn-login { 
    background-color:transparent ;
    color: white;
    border: 1px solid white;
	text-decoration:none;

}
.btn-signin{
	 background-color: transparent;
    color: white;
    border: 1px solid white;

	
}


.hero_background{
	background-image:linear-gradient(to bottom,rgb(0,0,0,0),#e96161),url("pexels-n-voitkevich-6214382.jpg");
	background-size:cover;
	background-position:center top;
	position:relative;
	width:100%;
	justify-content:center;
	align-items:center;
	height:auto;
	min-height:600px;
	display:flex;
	padding:20px;
	
}

	

.cnt_1{

background-color:#bd91e0;

width:25%;

height:70%;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
flex-wrap:wrap;
gap:60px;

position:absolute;
padding-top:10px;

left:10%;


}
.cnt_1 img{
	object-fit: cover;
	
	width:25%;
	
	
	
	
}
.cnt_1 a{
	display:inline-block;
	position:relative;
	bottom:10%;
	left:2%;
	font-size:25px;
	transition:.5s ease;
	
	
}
.cnt_1 a:hover{
	transform:scale(1.1);
	
	
}


.cnt_2{
	
	background:#fbe0e0;
	display:flex;
	text-align:center;
	justify-content:center;
	position:relative;
	align-items:center;
	width:28%;
	height:70%;
	height:auto;
	left:20%;
	padding-bottom:40px;
	padding-top:30px;
	margin-top:1%;
	
	
	gap:70px;
	flex-wrap:wrap;
	
	
	
}


.cnt_2 img{
	object-fit: cover;
	
	width:25%;
	
	
}
.cnt_2 a{
	display:inline-block;
	font-size:25px;
	transition:.5s ease;
	
	
}
.cnt_2 a:hover{
	transform:scale(1.1);
	
	
}

.link_mens{
	
	cursor:pointer;
}




.Car_store{
	
	background-color:#dc3c3d;
	display:flex;
	text-align:center;
	justify-content:center;
	align-items:stretch;
	width:100%;
	height:auto;
	min-height:30vh;
	gap:15px;
	padding :80px 0;
	flex-wrap:wrap;
	
	
}
.Car_store img{
	object-fit: cover;
	width:18%;

	
	
}
.sp{
		border:none;
		background-color:#144064;
		
		margin:10px 0;
		height:5px;
	
}

.Linl_car{
	
	font-size:50px;
	color:#43314a;
	
	
}





