.start{
	background:#1b161a;
	color:#eae9f0;
	padding:10px;
	margin:0;
	width:100%;
	position:relative;
	
}
.Header{
	
	margin:10px;
	/* margin-left:10px; */
	padding-left:50px;
	display:flex;
	
}
i.devicon-blazor-original{
	
	text-align:left;
	padding-right:30px;
	padding-top:2px;
	font-size:40px;
	color:red;
	position:absolute;
	left:10px;
}
._alone_head{
	font-size:40px;
}
	
	
.intro{
	/* color :white;	 */
	text-align:center;
	margin-top:83px;
	/* margin-bottom:40px; */
	
}
p.first{
	margin-top:30px;
	padding-bottom:30px;
	font-size:80px;
	color:#ff4d4d;
	font-family:"Tahoma";
}
	p.second{
		margin-top:20px;
	padding-bottom:15px;
	font-size:80px;
	color:white;
	font-family:"Tahoma";
}
	
	
	



.all{
	
	
	background:#1b161a;

	background-repeat:no-repeat;
    
	background-size:cover;
	overflow-x:hidden;
	width:100%;
	
	
	
	
}
*{
	
	box-sizing:border-box;
	margin:0;
	padding:0;
}




