
body{
	overflow-x:hidden;
	font-family: sans-serif;
  background: #111;
  color: white;

}
.navbar{
	display:flex;
	justify-content:space-between;
	background-color:#232f3e;
	align-items:center;
	padding: 15px 30px;
	position:fixed;
	width:100%;
	top:0;
	z-index:1000;
}
h1{
	color:#ffbbbbdb;
}
.list{
	list-style:none;
	display:flex;
	gap:20px;
	position:relative;
	right:30px;


	padding:0;
	margin:0;
}

.list li a {
    color: #ede6e6ba;
    font-weight: bold;
    font-size: 14px;
}

.list a{
	display:inline-block;
	transition:.5s ease;
	text-decoration:none;

}
.list a:hover{
	transform:scale(1.1);

}



.searching{

	display:flex;
	max-width:500px;
	transform:translate(-60px,0);

	justify-content:center;

}
.searching input {
    width: 500px;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
	transition:background-color .5s ease;
}



.searching input::placeholder {
    line-height: normal;
    vertical-align: middle;
}

.searching button {
    background-color: #ff9900;
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
	transition:background-color .5s ease;
}
.searching button:hover{

	background-color:#a4680d;
}
.Account{
	display:flex;
	gap:30px;
}
.Account button {
	
	transform:translate(-75px,0);
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
	transition: .5s ease;

}
.Account button:hover{
	transform:translate(-75px,0) scale(1.1);

}


.btn-signup {
    background-color: #ff9900;
    color: #232f3e;

}
.btn-signup a{
	text-decoration:none;
	color:black;

}


 .btn-login a {
	text-decoration:none;
	color:white;

 }

 .btn-login {
    background-color:transparent ;
    color: white;
    border: 1px solid white;
	text-decoration:none;

}
.btn-signout{
    color: white;
    border: 1px solid white;


}
.btn-signout a{
	text-decoration:none;
	color:black;
}


.btn {
 
  border: none;
  border-radius:15px;
  cursor: pointer;
  background: red;
  color: white;
}
.btn:hover {
  background: #e11a1a;
}

body.light-mode {
  background-color: white !important;
}

body.light-mode .buy {
  background: #111;
  color: white;
}





.shipping-section {
    text-align: center;
    /* padding: 50px 20px; */
	padding:120px 20px 50px;
	
    font-family: Arial, sans-serif;
}

.main-title {
    color: #ffb300;
    font-size: 32px;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.card {
    background-color: #fff;
    border: 1px solid #ffe0b2;
    border-radius: 20px;
    padding: 40px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}


.icon {
    font-size: 50px;
    margin-bottom: 20px;
}


.card h3 {
    color: #ffb300;
    font-size: 20px;
    margin: 0;
}