*{
		box-sizing:border-box;
	}


body{
	overflow-x:hidden;
	
}

.navbar{
	display:flex;
	justify-content:space-between;
	background-color:#232f3e;
	align-items:center;
	padding: 15px 30px;
	position:fixed;
	width:100%;
	top:0;
	z-index:1000;
}
h1{
	color:#ffbbbbdb;
	margin:0;
}
.list{
	list-style:none;
	display:flex;
	gap:20px;
	
	
	padding:0;
	margin:0;
}

.list li a {
    color: #ede6e6ba;
    font-weight: bold;
    font-size: 18px;
}

.list a{
	display:inline-block;
	transition:.5s ease;
	text-decoration:none;
	
}
.list a:hover{
	transform:scale(1.1);
	
}



.searching{
	
	display:flex;
	max-width:500px;
	
	justify-content:center;
	
}
.searching input {
    width: 500px;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
	transition:background-color .5s ease;
}



.searching input::placeholder {
    line-height: normal;
    vertical-align: middle;
}

.searching button {
    background-color: #ff9900;
    border: none;
    border-radius: 15px; 
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
	transition:background-color .5s ease;
}
.searching button:hover{
	
	background-color:#a4680d;
}
.Account{
	display:flex;
	gap:20px;
}
.Account button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
	transition: .5s ease;
	
}
.Account button:hover{
	transform:scale(1.1);
	
}


.btn-signup {
    background-color: #ff9900;
    color: #232f3e;
	
}
.btn-signup a{
	text-decoration:none;
	color:black;
	
}


 .btn-login a {
	text-decoration:none;
	color:white;

 }	 
   
 .btn-login { 
    background-color:transparent ;
    color: white;
    border: 1px solid white;
	text-decoration:none;

}
.btn-signout{
    color: white;
    border: 1px solid white;

	
}
.btn-signout a{
	text-decoration:none;
	color:black;
	
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
	margin-top:10%;
}


thead {
    background-color: #ff9800;
    color: black;
}

th {
    padding: 15px;
    font-weight: bold;
}


tbody tr {
    background-color: #555;
    color: white;
}

td {
    padding: 15px;
    border-bottom: 1px solid #777;
}


.price-input::-webkit-inner-spin-button,
.price-input::-webkit-outer-spin-button {
    opacity: 1;
    cursor: pointer;
}


.price-input {
    background: #444;
    border: 1px solid #777;
    color: white;
    padding: 5px;
    border-radius: 4px;
    width: 100px;
    outline: none;
}


.action-container {
    display: flex;
    justify-content: center;
	

    align-items: center;
    gap: 20px;

}



.btn {
    border: none;
    padding: 6px 12px;

    border-radius: 4px;

    color: white;
    font-size: 13px;

    cursor: pointer;
    white-space: nowrap;
}

.save {
    background-color: #4caf50;
	transition:.5s ease;
}
.save:hover{
	transform:scale(1.2);
	
	
}

.delete {
    background-color: #f44336;
	transition:.5s ease;
}
.delete:hover{
	
	transform:scale(1.1);
	
}
th:last-child,
td:last-child {
    min-width: 180px;
}